@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  color: #545454;
  font-family: "Georgia", "Arial", sans-serif;
  font-weight: normal;
  font-style: normal;
  margin: 0 auto;
  overflow-x: hidden;
  position: relative;
}

p,
h2,
h3 {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.screen__wrap {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .screen__wrap {
    padding: 0 3.9%;
    overflow: hidden;
  }
}

@media (max-width: 740px) {
  .screen__wrap {
    padding: 0 2.9%;
    overflow: hidden;
  }
}

.dark-screen {
  position: fixed;
  display: none;
  overflow: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(41, 41, 41, 0.6);
  z-index: 1;
  min-height: 100%;
}

.footer {
  background: url(../../assets/images/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.footer__wrap {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 3.4%;
}

@media (max-width: 1024px) {
  .footer__wrap {
    width: 90%;
    padding-top: 2%;
  }
}

@media (max-width: 740px) {
  .footer__wrap {
    width: 300px;
    padding-top: 4.5%;
  }
}

.footer__title {
  font-family: "Georgia", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-bottom: 32px;
}

@media (max-width: 740px) {
  .footer__title {
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.06em;
    width: 280px;
    margin: 0 auto;
    margin-bottom: 33px;
  }
  .footer__title-location {
    margin-left: 8px;
    margin-bottom: 40px;
  }
}

.footer__text {
  display: block;
  font-family: "Georgia", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  padding-left: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 26px;
}

@media (max-width: 740px) {
  .footer__text {
    margin: 0 auto;
    margin-bottom: 26px;
  }
}

.footer__contacts {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 280px;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 16px;
}

@media (max-width: 1024px) {
  .footer__contacts {
    padding-top: 17px;
    margin-left: -1px;
  }
}

@media (max-width: 740px) {
  .footer__contacts {
    width: 280px;
    margin: 0 auto;
  }
}

.footer__location {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 16px;
  width: 302px;
  height: 229px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1024px) {
  .footer__location {
    padding-top: 17px;
    padding-left: 2px;
    margin-bottom: 13.5%;
  }
}

@media (max-width: 740px) {
  .footer__location {
    margin-top: -2px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 16.5%;
  }
}

.footer__address {
  padding-left: 41px;
  position: relative;
}

@media (max-width: 740px) {
  .footer__address {
    margin: 0 auto;
    margin-bottom: 32px;
  }
}

.footer__address::before {
  display: block;
  position: absolute;
  content: url(../../assets/icons/icon-marker.svg);
  width: 22px;
  height: 32px;
  left: -1px;
}

.footer__email {
  position: relative;
}

.footer__email::before {
  display: block;
  position: absolute;
  content: url(../../assets/icons/icon-email.svg);
  width: 22px;
  height: 32px;
  left: 0;
}

.footer__phone {
  position: relative;
}

.footer__phone::before {
  display: block;
  position: absolute;
  content: url(../../assets/icons/icon-phone.svg);
  width: 22px;
  height: 32px;
  left: 0;
}

.footer__img {
  display: block;
  margin-top: -1px;
}

@media (max-width: 1024px) {
  .footer__img {
    width: 300px;
    margin: 0 auto;
  }
}

@media (max-width: 740px) {
  .footer__img {
    width: 260px;
    height: 269px;
  }
}

.main-pets {
  background-color: #F6F6F6;
}

.friends {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 81px;
  padding-bottom: 100px;
}

@media (max-width: 1024px) {
  .friends {
    padding-bottom: 9.9%;
  }
}

@media (max-width: 740px) {
  .friends {
    padding-top: 13%;
    padding-bottom: 13%;
  }
}

.friends__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (270px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 270px);
  grid-row-gap: 30px;
  grid-column-gap: 40px;
  margin-bottom: 60px;
}

@media (max-width: 1024px) {
  .friends__list {
    width: 75.7%;
    margin: 0 auto;
    margin-bottom: 5.2%;
  }
}

@media (max-width: 767px) {
  .friends__list {
    width: 85%;
    max-width: 550px;
    margin-bottom: 13.3%;
  }
}

.friends_title {
  font-family: "Georgia", "Arial", sans-serif;
  font-size: 35px;
  font-weight: normal;
  line-height: 45px;
  letter-spacing: 0.06em;
  margin: 0;
  margin-bottom: 59px;
  padding-left: 3px;
  text-align: center;
}

@media (max-width: 1024px) {
  .friends_title {
    padding-left: 2px;
    margin-bottom: 3.8%;
  }
}

@media (max-width: 740px) {
  .friends_title {
    font-family: "Georgia", "Arial", sans-serif;
    font-weight: normal;
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    margin-bottom: 13.2%;
  }
}

.friends__btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 340px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pets__page {
  font-family: "Georgia", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 52px;
  height: 52px;
  background-color: #F1CDB3;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.friends__slide-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 52px;
  height: 52px;
  padding-right: 2px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2px;
  padding-left: 2px;
  border-radius: 26px;
  border: none;
  font-family: "Georgia", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 19px;
  letter-spacing: 1px;
  color: #292929;
  height: 52px;
  outline: none;
  cursor: pointer;
  border: 2px solid #F1CDB3;
  position: relative;
  background-color: transparent;
}

.friends__slide-btn:hover {
  background-color: #FDDCC4;
}

.friends__slide-btn:active, .friends__slide-btn:focus {
  background-color: #FDDCC4;
  opacity: 0.7;
}

.friends__slide-btn:hover, .friends__slide-btn:active, .friends__slide-btn:focus {
  border: none;
}

.friends__slide-btn:disabled, .friends__slide-btn[disabled] {
  border: 2px solid #CDCDCD;
}

.friends__slide-btn:disabled:hover, .friends__slide-btn:disabled:active, .friends__slide-btn:disabled:focus, .friends__slide-btn[disabled]:hover, .friends__slide-btn[disabled]:active, .friends__slide-btn[disabled]:focus {
  background-color: transparent;
  cursor: auto;
}

.friends__slide-btn:disabled path {
  fill: #CDCDCD;
}

.friends__slide-btn:disabled path:hover::after path,
.friends__slide-btn:disabled path:active::after path,
.friends__slide-btn:disabled path:focus::after path {
  fill: #CDCDCD;
}

.friends__slide-btn--previous {
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: start;
      justify-self: start;
}

.friends__slide-btn--previous:hover::after, .friends__slide-btn--previous:active::after, .friends__slide-btn--previous:focus::after {
  top: 12px;
}

.friends__slide-btn--next {
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.friends__slide-btn--next:hover::after, .friends__slide-btn--next:active::after, .friends__slide-btn--next:focus::after {
  top: 32px;
}

.header__wrap {
  z-index: 2;
}

.header {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow-x: hidden;
}

@media (max-width: 1024px) {
  .header {
    padding-top: 4.2%;
  }
}

@media (max-width: 740px) {
  .header {
    padding-top: 10%;
  }
}

.header__wrap {
  background-color: #ffffff;
}

.header-pets {
  padding-top: 30px;
  padding-bottom: 26px;
}

.header__logo--hide {
  opacity: 0;
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 16px;
}

@media (max-width: 767px) {
  .nav {
    display: none;
  }
}

.nav__item {
  margin-left: 35px;
}

.nav__link {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  font-size: 15px;
  line-height: 24px;
  color: #CDCDCD;
  padding-bottom: 4px;
}

.nav__link:hover {
  cursor: pointer;
}

.nav__link:active, .nav__link:focus {
  border-bottom: 3px solid #F1CDB3;
  outline: none;
}

.nav__link--disabled {
  pointer-events: none;
  cursor: default;
}

.nav__link--active {
  border-bottom: 3px solid #F1CDB3;
  outline: none;
}

.nav__link:hover {
  cursor: pointer;
  color: white;
}

.nav__link:active, .nav__link:focus {
  border-bottom: 3px solid #F1CDB3;
  outline: none;
  color: white;
}

.nav__link--pets {
  color: #545454;
}

.nav__link--pets:hover {
  color: black;
}

.nav__link--pets:active, .nav__link--pets:focus {
  color: black;
}
